*{
    background-color:rgb(24, 24, 24);
    color: red;
    visibility: visible;
}

.paradox{
    text-align: center;
}

.raj{text-align: center;}
.ram{
    height: 500px;
    width: 1420px;
    border: 20px solid rgb(120, 129, 129);
    padding: 40px;
    margin: 20px;

}
button{
    box-shadow: 0 0 5px red, 0 0 25px red;
}
button:hover{
    box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 100px red, 0 0 200px red;

}

.pun{
    text-align: center;
    font-size: 20px;
    
}
html{
    background-color: white;
}
.punna{
    font-size: 20px;
}
.puneet{font-size: 30px;
}
.aru{
    font-size: larger;
    font-style:initial;

}



